/* .heading {
  padding: 12.09px 40px;
  border-bottom: 2px solid #e9e9e9;
}

.logo_side {
  align-items: center;
  gap: 1.5rem;
}
.logo {
  width: 32px;
  height: 29px;
}
.logo_side h3 {
  font-size: 24px;
}


.search__container {
  margin-right: 3rem;
}
.search_input {
  width: 100%;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 20px;
  color: #f7f7f7;
  outline: none;
}

.search_input hover,
.search_input focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}
.navbar ul li {
  font-size: 14px;
  font-weight: 400;
  border-right: 1px solid #c2c0c0;
  padding-right: 1rem;
}
.d_flex {
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.navbar {
  align-items: center;
  gap: 1rem;
}
.navbar ul,
.d_flexIcon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.icon {
  font-size: 28px;
} */
