/* .product,
.tags {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #ccc;
}
h4 {
  font-size: 18px;
  font-weight: 700p;
  margin-bottom: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.8;
}
label {
  font-size: 14px;
}
.price {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
}
.price p {
  font-size: 13px;
  color: #1e1e1e66;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}
.price p:hover {
  color: black;
  font-weight: 400;
} */
